/*importanto fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*alterando toda a minha página*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*nessa caixa eu fiz:
    -alterei a fonte
    */
 body{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    
 }
/*nessa caixa eu fiz :
 - mudei o espaçamento
 - coloquei cores
 - adicionei sombras*/
 .navegacao.home{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
}
/*imagem está ENORMEE*/
.navegacao-home img{
    width: 40px;
    }
    /*aqui quero que a logo não fique colada na margin*/
    .logo{
        display: inline-block;
        margin-left: 40px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        margin-top: 10px;
        
    }
 